@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    color-scheme: light;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --background: hsla(0, 0%, 100%, 90%);
    --foreground: 222.2 84% 4.9%;
    --card-foreground: 222.2 84% 4.9%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary-foreground: 210 40% 98%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --card: 0 0% 100%;
    --popover: 0 0% 100%;
    --primary: 222.2 47.4% 11.2%;
    --secondary: 210 40% 96.1%;
    --muted: 210 40% 96.1%;
    --accent: 210 40% 96.1%;
    --destructive: 0 84.2% 60.2%;
    --color-primary: hsla(202, 72%, 37%, 0.85); /* light mode primary color */
    --color-secondary: hsla(173, 100%, 25%, 0.85); /* light mode secondary color */
    --color-tertiary: hsla(183, 87%, 50%, 0.85); /* light mode tertiary color */
  }

  .dark {
    --background: rgb(46, 35, 90);
    --foreground: hsl(210, 40%, 98%);
    --card: hsl(222.2, 84%, 4.9%);
    --card-foreground: hsl(210, 40%, 98%);
    --popover: hsl(222.2, 84%, 4.9%);
    --popover-foreground: hsl(210, 40%, 98%);
    --primary: hsl(210, 40%, 98%);
    --primary-foreground: hsl(222.2, 47.4%, 11.2%);
    --secondary: hsl(217.2, 32.6%, 17.5%);
    --secondary-foreground: hsl(210, 40%, 98%);
    --muted: hsl(217.2, 32.6%, 17.5%);
    --muted-foreground: hsl(215, 20.2%, 65.1%);
    --accent: hsl(217.2, 32.6%, 17.5%);
    --accent-foreground: hsl(210, 40%, 98%);
    --destructive: hsl(0, 62.8%, 30.6%);
    --destructive-foreground: hsl(210, 40%, 98%);
    --border: hsl(217.2, 32.6%, 17.5%);
    --input: hsl(217.2, 32.6%, 17.5%);
    --ring: hsl(212.7, 26.8%, 83.9%);
    --color-primary: hsla(204, 60%, 27%, 0.25); /* dark mode primary color */
    --color-secondary: hsla(165, 100%, 13%, 0.25); /* dark mode secondary color */
    --color-tertiary: hsla(178, 83%, 21%, 0.25); /* dark mode tertiary color */
  }
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
  .element {
    background-color: var(--background);
    color: var(--foreground);
  }

 #bgcanvas {
  -webkit-filter: blur(35px);
  filter: blur(35px);
  position: absolute;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
}

 button {
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
  }

@media (prefers-color-scheme: light) {
  html,body {
    background-color: var(--background);
    color: var(--primary-foreground);
  }
  
  button {
    color: var(--primary-foreground);
    border: 1px solid transparent;
    background-color: var(--background);
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

}
@media (prefers-color-scheme: dark) {
  html,body {
    background-color: var(--background);
    color: var(--primary-foreground);
  }
  button {
    color: var(--primary-foreground);
    border: 1px solid transparent;
    background-color: var(--background);
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-transparent text-foreground;
  }
}
/* buttons */


:root:has(button:active) {
	--size: 300px;
}

.loading #pulsar{
  stroke-dasharray:281;
  animation: dash 2.5s infinite linear forwards;
  -webkit-animation: dash 2.5s infinite linear forwards;

}
.home {
  background-image: url('assets/ipfs.png');
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
}
/* .dotmap {
  opacity: 1;
}
.dotmap circle {
  transition: all 3s;
}
.dotmap circle animate {
  transform: translate(0,0) !important;
} */
.loading #pulsar{
  stroke-dasharray:281;
  animation: dash 2.5s infinite linear forwards;
  -webkit-animation: dash 2.5s infinite linear forwards;
}
/*Animation*/
@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 814;
  }

  to {
    stroke-dashoffset: -814;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 814;
  }

  to {
    stroke-dashoffset: -814;
  }
}